<div style="border: 3px solid">
  <div style="border: 1px solid red">
    cardcarousel Component <br />
    <span *ngIf="start > 0">
      <button (click)="minusOne()"><</button>
    </span>
    <span *ngIf="start < cardlist.length - amount">
      <button (click)="plusOne()">></button>
    </span>
    <span>
      card equals {{chosenCard}}
    </span>
  </div>

  <div>
    <span *ngFor="let num of numbers" (click)="onSelectCard(start + num)">
      <app-displaycard [card]="cardlist[start + num]"></app-displaycard>
    </span>
  </div>


</div>
